*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url(mare.jpg);
}

.conteiner{
  width: 1200px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.conteiner:after{
  content: "";
  display: table;
  clear: both;
}

#logo{
  width: 130px;
  height: 130px;
  border: 2px solid orange;
  border-radius: 130px;
  margin-top: 15px;
}

#orange{
  color: orange;
}

.main1{
  text-align: center;
}

.main1 > p{
  font-weight: bold;
  margin-bottom: 30px;
}

.main1 > button{
  background-color: orange;
  border-radius: 5px;
  margin-bottom: 20px;
}

.left{
  width: 33%;
  float: left;
}

.main2{
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.main2 > i{
  margin-left: 40px;
}

.main2 > i:hover{
  color: white;
}

.blu{
  background-color: blue;
  border: 2px solid #cecece;
}
.right{
  width: 58%;
  float: right;
  margin-bottom: 30px;
}

.gran > img{
  width: 100px;
}

.meta:after{
  content: "";
  display: table;
  clear: both;
}

.gran{
  float: left;
}

.bottom{
  clear: both;
  position: relative;
}

.leg{
  width: 60%;
}

.cuore{
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.cuore > i{
  margin-left: 30px;
}
